<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge</title>
    <script src="vendors/jquery-3.2.1.min.js"></script>
    <script src="scripts/scripts.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <div>
      <input type="number" placeholder="input #1" class="inputs" id="firstInput" />
      <input type="number" placeholder="input #2" class="inputs" id="secondInput" />
      <input type="number" id="output" />
    </div>
    <div>
      <button class="mathOperator" id="addButton">+</button>
      <button class="mathOperator" id="subButton">-</button>
      <button class="mathOperator" id="multiButton">*</button>
      <button class="mathOperator" id="divButton">/</button>
      <button class="clearOperator" id="clearButton">Clear</button>
  </div>
  </body>
</html>
